body {
  padding-top: 5rem;
}

body, html {
  height: 100%;
}

img {
  border-radius: 50%;
  position: relative;
 }

.video-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: 20px;  
  width: 100%;
  background-color: lightskyblue;
}

section {
  margin: 1rem;
  padding: 2rem;
  background-color: lightskyblue;
  border-radius: 2em;
}

aside {
  margin: 1rem;
  padding: 2rem;
  background-color: lightskyblue;
  border-radius: 2em;
}

.bgimg {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./background.jpg");
  height: 100%;
  position: relative;
  opacity: 0.90;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /* fixed in viewport */
}
